

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1271522601/photo/pop-corn-and-on-red-armchair-cinema.jpg?s=612x612&w=0&k=20&c=XwQxmfrHb-OwV5onPUW5ApB4RaGBK7poSIzZj4q_N_g=);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#"><%= link_to "Movie Library", movies_path %></a>
  </div>
</div>

<div class="container">

  <div class="m-5 d-flex justify-content-center align-item-center"><h1>My Lists</h1></div>

  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
    <div class="card-category mb-3 list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.movies.all.first.poster_url %>)"><%= list.name %></div>
    <% end %>
  <% end %>

  <%= link_to new_list_path do %>
    <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">+</div>
  <% end %>

</div>
